/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  line-height: inherit; }

html {
  font-size: 15px;
  -webkit-font-smoothing: antialiased; }

body {
  font: 1rem/1.5 Sans-serif;
  color: #113244; }

p {
  font-size: 1.2rem;
  opacity: 0.8; }
  p:not(:last-child) {
    margin-bottom: 2rem; }

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.5rem; }
  @media (min-width: 50rem) {
    h1 {
      font-size: 3rem; } }

h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem; }

body {
  background: #cccccc; }

.l-wrap {
  max-width: 80rem;
  margin: 0 auto;
  background: white; }

.l-row {
  margin: 0 auto;
  padding: 2rem;
  max-width: 50rem; }

.c-button {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background: #e44a00;
  color: white;
  text-decoration: none;
  border-radius: 0.2rem; }
  .c-button + .c-button {
    margin-left: 1rem; }
  .c-button.secondary {
    background: rgba(255, 255, 255, 0.1); }

.m-intro {
  background: #113244;
  color: white;
  padding: 2rem 0;
  margin-bottom: 2rem; }
  .m-intro .photos {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin: -2rem 0 2rem; }
    .m-intro .photos a {
      display: table-cell;
      vertical-align: top; }
    .m-intro .photos img {
      display: block;
      width: 100%; }

.m-footer {
  background: #113244;
  color: white;
  margin-top: 2rem; }
  .m-footer p:last-child {
    margin-bottom: 0; }

.m-home .about {
  margin: 0 auto;
  max-width: 50rem; }

.member {
  padding-left: 10rem;
  position: relative;
  box-shadow: 0px 1px 3px rgba(17, 50, 68, 0.1), 0px 1px 1px rgba(17, 50, 68, 0.1);
  background: #efefef;
  padding: 2rem 2rem 2rem 12rem;
  margin-bottom: 2rem; }
  .member aside {
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: 8rem; }
    .member aside img {
      width: 100%;
      height: auto;
      border-radius: 0.2rem;
      box-shadow: 0px 1px 6px rgba(17, 50, 68, 0.2), 0px 1px 2px rgba(17, 50, 68, 0.2); }
    .member aside a {
      padding: 0.6rem 1.2rem;
      background: white;
      color: #113244;
      text-decoration: none;
      display: block;
      border-radius: 0.2rem;
      margin-top: 1rem;
      text-align: center; }

.m-nav {
  background: #efefef; }
  .m-nav .l-row {
    display: flex; }
  .m-nav img {
    width: 100%;
    display: block;
    max-width: 10rem;
    border-radius: 0.2rem; }
  .m-nav ul {
    margin-left: auto;
    display: flex; }
  .m-nav li a {
    display: block;
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    margin-left: 0.5rem;
    color: #113244;
    border-radius: 0.2rem; }
    .m-nav li a:active, .m-nav li a:hover, .m-nav li a:focus {
      background: white;
      box-shadow: 0px 1px 3px rgba(17, 50, 68, 0.1), 0px 1px 1px rgba(17, 50, 68, 0.1); }
    .m-nav li a.active {
      background: white;
      box-shadow: 0px 1px 3px rgba(17, 50, 68, 0.1), 0px 1px 1px rgba(17, 50, 68, 0.1); }

/*# sourceMappingURL=all.css.map */
