/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  line-height: inherit; }

html {
  font-size: 15px;
  -webkit-font-smoothing: antialiased; }

body {
  font: 1rem/1.5 Sans-serif;
  color: #113244; }

p {
  font-size: 1.2rem; }
  p:not(:last-child) {
    margin-bottom: 2rem; }

a {
  color: #0179bb; }

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.5rem; }
  @media (min-width: 50rem) {
    h1 {
      font-size: 3rem; } }

h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem; }

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5rem; }

main ul, main ol {
  list-style: square;
  margin-left: 20px;
  font-size: 1.2rem;
  opacity: 0.8; }
  main ul:not(:last-child), main ol:not(:last-child) {
    margin-bottom: 2rem; }
main ol {
  list-style: decimal-leading-zero; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  background: #cfd6da; }

.l-wrap {
  max-width: 80rem;
  margin: 0 auto;
  background: white; }

.l-row {
  margin: 0 auto;
  padding: 2rem;
  max-width: 50rem; }

.c-button {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background: #e45d00;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.2rem;
  margin: 0 1rem 1rem 0;
  border: 0;
  font-size: 1rem;
  cursor: pointer; }
  .c-button:active, .c-button:hover, .c-button:focus {
    background: #ff7618; }
  .c-button.secondary {
    background: rgba(255, 255, 255, 0.1);
    font-weight: normal; }
    .c-button.secondary:active, .c-button.secondary:hover, .c-button.secondary:focus {
      background: rgba(255, 255, 255, 0.2); }

.m-contact div {
  margin-bottom: 1rem; }
.m-contact label {
  font-size: 1.2rem;
  display: block; }
.m-contact input,
.m-contact textarea {
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  border: 1px solid #cfd6da;
  border-radius: 0.2rem;
  width: 100%;
  max-width: 30rem; }

.m-intro {
  background: #113244;
  color: white;
  padding: 2rem 0;
  margin-bottom: 2rem; }
  @media (max-width: 30rem) {
    .m-intro h1 br {
      display: none; } }
  .m-intro .photos {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin: -2rem 0 2rem; }
    .m-intro .photos a {
      display: table-cell;
      vertical-align: top; }
    .m-intro .photos img {
      display: block;
      width: 100%; }

.m-expertise blockquote {
  padding: 2rem;
  border-radius: 0.2rem;
  background: #e45d00;
  color: white;
  margin-bottom: 2rem; }
  .m-expertise blockquote p {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center; }
@media (min-width: 50rem) {
  .m-expertise .expertises {
    columns: 2;
    column-gap: 2rem;
    margin-top: -2rem; } }
.m-expertise .block {
  border-radius: 0.2rem;
  background: #dde2e5;
  padding: 2rem;
  break-inside: avoid;
  margin: 2rem 0; }

.m-footer {
  background: #113244;
  color: white;
  margin-top: 2rem; }
  .m-footer p:last-child {
    margin-bottom: 0; }

.m-members .member {
  position: relative;
  margin-bottom: 2rem; }
  .m-members .member img {
    border-radius: 0.2rem;
    float: right;
    margin: 0 0 1rem 1rem; }
  .m-members .member aside {
    margin-bottom: 1rem; }
    .m-members .member aside a {
      margin-right: 0.5rem; }
  @media (min-width: 50rem) {
    .m-members .member {
      box-shadow: 0px 1px 3px rgba(17, 50, 68, 0.1), 0px 1px 1px rgba(17, 50, 68, 0.1);
      padding-left: 10rem;
      background: #dde2e5;
      padding: 2rem 2rem 2rem 12rem; }
      .m-members .member aside {
        position: absolute;
        left: 2rem;
        top: 2rem;
        width: 8rem;
        font-size: 1.2rem; }
        .m-members .member aside a {
          border-radius: 0.2rem;
          padding: 0.6rem 1.2rem;
          background: white;
          color: #113244;
          text-decoration: none;
          display: block;
          margin: 1rem 0 0 0;
          text-align: center; }
          .m-members .member aside a:active, .m-members .member aside a:hover, .m-members .member aside a:focus {
            background: #113244;
            color: white; }
      .m-members .member img {
        width: 100%;
        height: auto;
        float: none;
        margin: 0; } }

.m-nav {
  background: #dde2e5; }
  .m-nav figure {
    display: block; }
  .m-nav ul {
    display: flex;
    flex-wrap: wrap; }
  .m-nav li {
    flex: 1 0 50%;
    padding: 0.5rem; }
  .m-nav img {
    width: 100%;
    display: block;
    max-width: 10rem;
    border-radius: 0.2rem; }
    @media (max-width: 40rem) {
      .m-nav img {
        margin: 0 auto 2rem; } }
  .m-nav li a {
    display: block;
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    color: #113244;
    border-radius: 0.2rem; }
    .m-nav li a:active, .m-nav li a:hover, .m-nav li a:focus {
      background: white;
      box-shadow: 0px 1px 3px rgba(17, 50, 68, 0.1), 0px 1px 1px rgba(17, 50, 68, 0.1); }
    .m-nav li a.active {
      background: white;
      box-shadow: 0px 1px 3px rgba(17, 50, 68, 0.1), 0px 1px 1px rgba(17, 50, 68, 0.1); }
    @media (max-width: 40rem) {
      .m-nav li a {
        text-align: center; } }
  @media (min-width: 40rem) {
    .m-nav .l-row {
      display: flex;
      align-items: center; }
    .m-nav ul {
      margin-left: auto;
      flex-wrap: nowrap; }
    .m-nav li {
      flex: auto;
      padding: 0; }
      .m-nav li a {
        margin-left: 0.5rem; } }

/*# sourceMappingURL=all.css.map */
