.m-nav
  background: #efefef

  .l-row
    display: flex

  img
    width: 100%
    display: block
    max-width: 10rem
    +br

  ul
    margin-left: auto
    display: flex
  li a
    display: block
    font-size: 1.2rem
    padding: 0.6rem 1.2rem
    margin-left: 0.5rem
    color: $darkblue
    +br
    +hocus
      background: #fff
      +shadow
    &.active
      background: #fff
      +shadow
