*
  line-height: inherit

html
  font-size: 15px
  -webkit-font-smoothing: antialiased

body
  font: 1rem/1.5 Sans-serif
  color: $darkblue

p
  font-size: 1.2rem
  opacity: 0.8
  &:not(:last-child)
    margin-bottom: 2rem

h1
  font-size: 2rem
  font-weight: bold
  line-height: 1.2
  margin-bottom: 1.5rem
  +min-width(50rem)
    font-size: 3rem
h2
  font-size: 2rem
  font-weight: bold
  line-height: 1.2
  margin-bottom: 1rem

