.c-button
  display: inline-block
  padding: 0.6rem 1.2rem
  background: $orange
  color: #fff
  text-decoration: none
  +br
  & + &
    margin-left: 1rem

  &.secondary
    background: rgba(#fff,0.1)
